


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>安吾について</title>
	</head>
	<body>

    <a href="/">ホーム</a>
    <a href="/about/">概要</a>
    
		<h1>坂口安吾と「堕落論」</h1>
    
        <p>「生きよ。堕ちよ。その正当な手順をふんで、正当に落ちきることが必要なのだ」</p>

        <p>安吾は戦後の日本で、既存の道徳を捨て、人間が人間らしく生きることを説いた。</p>
	</body>
</html>